.container {
    display:flex;
    flex-direction: column;
}
/* footer와 section을 column을 사용하여 쌓이게 하고, section안에서 header와 main을 분리하기 위함*/

section {
    display: flex;
}
/* nav와 section을 row를 사용하여 옆으로 나열하기 위함 */

.small_container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

footer {
    border-top: 1px solid gray;
}

nav {
    border-right: 1px solid gray;
    flex-basis: 30px;
}

header {
    border-bottom: 1px solid gray; 
    display: flex;
}
