body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 이번에 추가된 부분. body자체에 flex를 걸어서 하위요소 continer를 가로 정렬
    그후 가로로 center, 내용물 center를 통해 중앙정렬
    
    height 값에 있는 vh는 보여지는 시점에서 높이를 100%가져가겠다는 소리*/
}

.container {
    display: flex;
    flex-direction: column;
    width: 50vh;
    height: 80vh;
    border: 1px solid gray;
    /* 너비와 height값을 vh로 변경, 덕분에 창 사이즈에 따라 유동적으로 바뀜 */
}

section {
    display: flex;
    flex-grow: 1;
}

nav {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
    background-color: rgb(231, 231, 231);
    
}


.top-nav {
    flex-grow: 2;
    margin-top: 30px;
    font-size: 20px;
}

.top-nav > * {margin: 15px;}

.bottom-nav {
    flex-grow: 0;
    margin-bottom: 30px;
    font-size: 17px;
}

.bottom-nav > * {
    margin:17px;
}

.channel_alert {
    font-size: 20px;
}

.small_container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: stretch;
    /* 이부분이 가장 힘들었음
    
    footer를 가장 밑에 위치시키기 위해서 생각해보니 footer는 small_container와
    함께 flex를 공유하는 자손임. 그래서 이부분에 stretch와 grow를 걸어버리면
    footer를 밀고, 자연스럽게 small_container내부 요소인 nav와 main파트가
    늘어남*/
}

header {
    border-bottom: 1px solid gray; 
    display: flex;
    flex-direction: column;
    flex: start;
}

.sizebar {
    display: flex;
    justify-content: flex-end;
    color: rgba(160, 155, 155, 0.993);
}

.sizebar > * {
    font-size: 11px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.minimize {
    position: relative;
    top: -3px;
}

.search {
    font-size: 17px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.add_newfriends {
    font-size: 17px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.friends_line {
    display: flex;
}

.friend {
    font-size: 17px;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 3px;
}

main {
    box-sizing: content-box;
    overflow-y: scroll;
}

.sortbar {display: flex;}

/* 각 항목당 소팅하는 바가 있어서 한꺼번에 처리하기 위해서 이러한 이름 사용 */

.sort_name {
    flex-grow: 1;
    font-size: 12px;
}

#arrow {
    margin: 5px;
    font-size: 12px;
}

.block_section {
    display: flex;
    height: 70px;
    align-content: center;
}

.adv_block {
    background-color: rgb(245, 245, 245);
    margin-top: auto;
}