@import url(style/change.css);
@import url(style/button.css);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 이번에 추가된 부분. body자체에 flex를 걸어서 하위요소 continer를 가로 정렬
    그후 가로로 center, 내용물 center를 통해 중앙정렬
    
    height 값에 있는 vh는 보여지는 시점에서 높이를 100%가져가겠다는 소리*/
}


.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(66, 66, 66, 0.151);
    box-shadow: 1px 1px 2px 2px rgba(77, 75, 75, 0.151);
}

section {
    display: flex;
    flex-grow: 1;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);
    
}

.top-nav {
    flex-grow: 1;
    margin-top: 30px;
    font-size: 20px;
}

.top-nav > * {margin: 15px;}

.bottom-nav {
    flex-grow: 0;
    margin-bottom: 30px;
    font-size: 17px;
}

.bottom-nav > * {
    margin:17px;
}

.channel_alert {
    font-size: 20px;
}

.small_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    display: flex;
    flex-direction: column;
    flex: start;
}

.sizebar {
    display: flex;
    justify-content: flex-end;
    color: rgba(160, 155, 155, 0.993);
}

.sizebar > * {
    font-size: 11px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.minimize {
    position: relative;
    top: -3px;
}

.search {
    font-size: 17px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.add_newfriends {
    font-size: 17px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.friends_line {
    display: flex;
}

.friend {
    font-size: 17px;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 3px;
}

main {
    box-sizing: content-box;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 70vh;
    margin-left: 20px;
    padding-right: 10px;
}

.multiprofile_block, .brthfirends_block, .upd_profile_block { 
    border-bottom: 1px solid rgb(231, 231, 231);
}

.sortbar {display: flex;}

/* 각 항목당 소팅하는 바가 있어서 한꺼번에 처리하기 위해서 이러한 이름 사용 */

.sort_name {
    flex-grow: 1;
    font-size: 11px;
    padding-top: 3px;
}

.arrow {
    margin: 5px;
    font-size: 12px;
}

.blocksection {
    font-size: 14px;
    font-weight: 550;
    display: flex;
    height: 70px;
    min-width: 280px;
    align-items: center;
}

footer {
    background-color: rgb(245, 245, 245);
    height: 70px;
    border-top: 2px solid rgb(231, 231, 231);
    flex-shrink: 0;
}

main img {
    width: auto;
    height: 40px;
    border-radius: 35%;
    margin-right: 10px;
}